/* css styles */

body {
  color: #343A40 !important;
  font-family: "Tahoma", Times, serif !important;
  background-color: #ede9d8;
}

.quarto-title-banner {
  background-color: #343A40;
}

.nav-footer {
  background-color: #343A40;
  color: #b5b4b0;
}

a.no-external {
  color: #343A40 !important;
}

.about-links .bi-github, .about-links .bi-linkedin {
  color: #343A40 !important;
  font-size: 18px !important;
}

.about-link-text {
  color: #343A40 !important;
}

a.about-link {
  color: #343A40 !important;
}

.about-contents {
  text-align: justify;
}



.bg-img {
  position: relative;
  text-align: center;
  color: #343A40;
}

#home {
  display: inline-block;
  height: 100%;
  width: 90%;
  border-radius: 30px;
  border: 3px solid #343A40;
  margin-top: 20px;
  margin-bottom: -20px;
}

.bg-txt {
  text-align: center;
  font-family: 'Norican', cursive;
  font-size: 1.75em;
  font-weight: bold;
}
